body {
  background-color: inherit;
}

#myCarousel {
  display: flex;
  justify-content: center;
  align-items: center;

  height: calc(1010px - 525px);
}  

.carousel-inner {
}

.testiomonial__item {
  background: #fff url("https://codelearn.io/Themes/TheCodeCampPro/Resources/Images/landing-v2/testimonial/bg-testimonial.png") center center/contain no-repeat;

  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 705px;
  min-height: 325px;
  margin: 0 auto;
  border-radius: 10px;
  box-shadow: 0 0 20px 0 rgba(29,31,89,.1);
  position: relative;
  padding: 30px;
}

.testiomonial__item::before {
  width: 705px;
  height: 100%;
  content: '';
  display: block;
  background-color: #8dadeb;
  opacity: .2;
  position: absolute;
  left: 30px;
  top: 30px;
  border-radius: 10px;
  z-index: -1;
}

.testiomonial__item h4 {
  font-size: 24px;
  margin: 0;
  line-height: 1.25;
  font-weight: 700;
}

.testiomonial__item span {
  color: #172b4d;
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 30px;
}

.testiomonial__item p {
  color: #455880;
  line-height: 1.375;
  max-width: 550px;
}

.item {
  height: 355px;
}
